@tailwind base;
@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Aller";
  font-weight: 700;
  src: url("../fonts/Aller_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Aller-Regular";
  font-weight: 400;
  src: url("../fonts/Aller_Rg.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@layer components {
  .hoverbackground {
    @apply hover:text-secondary-cyan cursor-pointer;
  }
  .clickbackground {
    @apply focus:border-secondary-cyan;
  }
  .text {
    @apply xs:text-xs 2xl:text-3xl  xl:text-2xl lg:text-lg sm:text-sm md:text-md;
  }
  .baselabel {
    @apply xs:text-forgot  sm:text-sm lg:text-buttontext font-interregular;
  }
  .inputlabel {
    @apply xs:text-xs lg:text-tiny sm:text-sm font-bold font-inter;
  }
  .rememberlabel {
    @apply xs:text-forgot  sm:text-sm lg:text-tiny font-interregular;
  }
  .overflow-y-visible {
    overflow-y: visible;
    display: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  float: none;
  /* width */
}
::-webkit-scrollbar {
  width: 1px;
}

.poligon {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  background: red;
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    25% 0%,
    78% 0,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  clip-path: polygon(25% 0%, 78% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.poligon img {
  position: absolute;
  border: indianred;
  top: 3px;
  left: 3px;
  /* equal to border thickness */
  width: 144px; /* container height - (border thickness * 2) */
  height: 144px; /* container height - (border thickness * 2) */
  -webkit-clip-path: polygon(
    25% 0%,
    78% 0,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  clip-path: polygon(25% 0%, 78% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.userImage {
  clip-path: path(
    "M2.01036 19.25C1.02788 20.9517 1.02788 23.0483 2.01036 24.75L11.1236 40.5346C12.1061 42.2363 13.9218 43.2846 15.8868 43.2846H34.1132C36.0782 43.2846 37.8939 42.2363 38.8764 40.5346L47.9896 24.75C48.9721 23.0483 48.9721 20.9517 47.9896 19.25L38.8764 3.46539C37.8939 1.76369 36.0782 0.715393 34.1133 0.715393H15.8868C13.9218 0.715393 12.1061 1.76369 11.1236 3.46539L2.01036 19.25Z"
  );
  width: 50px;
  height: 44px;
  z-index: 9999;
}
.userImagePost {
  clip-path: path(
    "M2.01036 19.25C1.02788 20.9517 1.02788 23.0483 2.01036 24.75L11.1236 40.5346C12.1061 42.2363 13.9218 43.2846 15.8868 43.2846H34.1132C36.0782 43.2846 37.8939 42.2363 38.8764 40.5346L47.9896 24.75C48.9721 23.0483 48.9721 20.9517 47.9896 19.25L38.8764 3.46539C37.8939 1.76369 36.0782 0.715393 34.1133 0.715393H15.8868C13.9218 0.715393 12.1061 1.76369 11.1236 3.46539L2.01036 19.25Z"
  );
  width: 50px;
  height: 44px;
  vertical-align: text-bottom;
}
.drTag {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 22px;
  height: 22px;
  /* background-color: blue; */
}
.audioMessage {
  background: rgba(0, 175, 241, 0.1);
  border-color: rgba(0, 175, 241, 0.1);
}
.messageBlue {
  background: rgba(0, 175, 241, 0.1);
}
.drText {
  /* position: absolute; */
  width: 11px;
  height: 16px;
  /* left: calc(50% - 11px/2 - 0.5px);
top: calc(50% - 16px/2); */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  text-align: center;
}
.drPolygon {
  clip-path: path(
    "M1.14434 7.75C0.697756 8.5235 0.697756 9.4765 1.14434 10.25L4.48964 16.0442C4.93622 16.8177 5.76154 17.2942 6.6547 17.2942H13.3453C14.2385 17.2942 15.0638 16.8177 15.5104 16.0442L18.8557 10.25C19.3022 9.4765 19.3022 8.5235 18.8557 7.75L15.5104 1.95577C15.0638 1.18227 14.2385 0.705772 13.3453 0.705772H6.6547C5.76154 0.705772 4.93622 1.18227 4.48964 1.95577L1.14434 7.75Z"
  );
  width: 50px;
  height: 44px;
}
.userAvatarProfile {
  background-image: url("../../public/icons/userHead.svg");
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}
.userAvatarPolygon {
  clip-path: path(
    "M2.01036 33.25C1.02788 34.9517 1.02788 37.0483 2.01036 38.75L19.1236 68.391C20.1061 70.0927 21.9218 71.141 23.8867 71.141H58.1132C60.0782 71.141 61.8939 70.0927 62.8764 68.391L79.9896 38.75C80.9721 37.0483 80.9721 34.9517 79.9896 33.25L62.8764 3.60898C61.8939 1.90727 60.0782 0.858978 58.1132 0.858978H23.8868C21.9218 0.858978 20.1061 1.90727 19.1236 3.60898L2.01036 33.25Z"
  );
  width: 80px;
  height: 80px;
}
.profileSection:active {
  font-weight: bold;
}
.editProfilePopup {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.newpost :focus {
  height: 20;
}
